[[redirects]]
	from = "/en/*"
	to = "/en/404/"
	status = 404

[[redirects]]
	from = "/cs/*"
	to = "/cs/404/"
	status = 404

[[redirects]]
	from = "/*"
	to = "/en/404/"
	status = 404

[build]
publish = "public"
command = "hugo --gc --minify"

[context.production.environment]
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"