{{ define "main" }}
<main id="main" class="main-page">
  <section id="venue">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-header">
        <h2>{{ .Title }}</h2>
        <p>{{ .Description }}</p>
      </div>
      <div class="container">
        {{ .Content }}
      </div>
      <div class="row g-0">
        <div class="col-lg-6 venue-map">
          <iframe width="600" height="450" style="border:0;" loading="lazy" allowfullscreen
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2600.039166364926!2d16.722778615799655!3d49.33247727516188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47128d1ef785f747%3A0x47163adede20572a!2sSad%20pod%20lipou!5e0!3m2!1scs!2scz!4v1664726940602!5m2!1scs!2scz"></iframe>
        </div>
        <div class="col-lg-6 venue-info venue-sad-bg">
          <div class="row justify-content-center">
            <div class="col-11 col-lg-8 position-relative">
              <h3>{{ .Params.venue.info.heading }}</h3>
              <p>{{ .Params.venue.info.description }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 venue-info venue-parking-bg">
          <div class="row justify-content-center">
            <div class="col-11 col-lg-8 position-relative">
              <h3>{{ .Params.venue.parking.heading }}</h3>
              <p>{{ .Params.venue.parking.description | safeHTML }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 venue-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2599.9960224182514!2d16.7228356!3d49.3332941!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47128d2ba3c9abf9%3A0x763aaf7165ffd80c!2zUGFya292acWhdMSbIHBybyB2xJt0cm7DvSBtbMO9biBhIFJ1ZGlja8OpIHByb3BhZMOhbsOt!5e0!3m2!1scs!2scz!4v1634207242967!5m2!1scs!2scz"
            width="600" height="450" frameborder="0" style="border:0" loading="lazy" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-0">
        {{ range .Params.images }}
        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{ . }}" class="glightbox" data-gall="venue-gallery">
              <img src="{{ . }}" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
</main>
{{ end }}