{{ define "main" }}
<main id="main" class="main-page">
  <section id="tickets" class="section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>{{ .Title }}</h2>
        <p>{{ .Description }}</p>
      </div>
      <div id="serverOutOfService" style="display: none;">
        {{ i18n "serverOutOfService" }}
        {{ i18n "contactUs" }}
      </div>
      <div id="reservationsClosed" class="hidden">
        <p>{{ i18n "reservationsClosed" }}</p>
      </div>
      <div id="content">
        {{ .Content }}
        <span id="end-of-reservations-text" class="hidden">{{ i18n "endOfReservation" }}</span>
        <form action="#" method="post" role="form" id="new-ticket-form" class="form">
          <div class="row">
            <div class="form-group col-md-6 mt-2 mt-md-3">
              <input type="text" name="name" class="form-control" id="firstname" placeholder={{ i18n "firstnameOfChild" }}
                required>
            </div>
            <div class="form-group col-md-6 mt-2 mt-md-3">
              <input type="text" name="name" class="form-control" id="lastname" placeholder={{ i18n "lastnameOfChild" }}
                required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12 mt-2 mt-md-3">
              <input type="email" class="form-control" name="email" id="email" placeholder={{ i18n "emailOfParent" }}
                required>
            </div>
          </div>
          <div class="row">
            <div class="form-group mt-2 mt-md-3">
              <select class="form-control" id="time" required></select>
              <span style="display: none;" id="selectTime">
                {{ i18n "selectTime" }}
              </span>
              <span style="display: none;" id="selectValidTime">
                {{ i18n "selectValidTime" }}
              </span>
              <span style="display: none;" id="freePositions">
                {{ i18n "freePositions" }}
              </span>
              <span style="display: none;" id="freePosition">
                {{ i18n "freePosition" }}
              </span>
            </div>
          </div>
          <div class="row my-3">
            <div class="loading" id="loading">{{ i18n "loading" }}</div>
            <div class="error-message" id="error-message">{{ i18n "errorMessage" }}</div>
            <div class="sent-message" id="sent-message">{{ i18n "successOrderMessage" }}</div>
          </div>
          <div class="text-center">
            <button type="submit" id="submit-button">
              {{ i18n "order" }}
            </button>
            <button type="submit" id="order-another-ticket-button" style="display: none;">
              {{ i18n "orderAnotherTicket" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
<script>
  function writeEndOfReservationSentence() {
    const endOfReservationDOM = document.getElementById("end-of-reservations");
    const endOfReservationTextDOM = document.getElementById("end-of-reservations-text");
    const reservationsClosedDOM = document.getElementById("reservationsClosed");
    const contentDOM = document.getElementById("content");
    API.year.active()
      .then((year) => {
        if (!year) {
          // Just don't change the text with info about reservation end.
          return;
        }
        const d = new Date(year.tickets_sales_end);
        
        // Prepare formatted date in EN and CS
        let timeFormatted = d.toLocaleString();
        if (window.location.pathname.includes("cs")) {
          timeFormatted = `${d.getDate()}. ${(d.getMonth() + 1)}. ${d.getFullYear()} v ${d.getHours()}:${d.getMinutes() == 0 ? "00" : d.getMinutes()}`;
        }

        // Add formatted date to text about end of reservation
        endOfReservationDOM.innerText = `${endOfReservationTextDOM.innerText} ${timeFormatted}.`;
        
        // Closed reservations
        if (d < new Date()) {
          reservationsClosedDOM.classList = "";
          contentDOM.classList = "hidden";
          // Add formatted date to text about closed of reservation
          reservationsClosedDOM.innerText = `${reservationsClosedDOM.innerText} ${timeFormatted}.`;
        }
      })
      .catch((err) => {
        console.error(err);
        // Just don't change the text with info about reservation end.
      })
  }

  function updateTimes() {
    const loadingDOM = document.getElementById("loading");
    const contentDOM = document.getElementById("content");
    const formDOM = document.getElementById("new-ticket-form");
    const serverOutOfServiceDOM = document.getElementById("serverOutOfService");
    loadingDOM.style = "display: initial;";
    const selectTimeDOM = document.getElementById("selectTime");
    const defaultTimeOptionDOM = document.createElement("option");
    defaultTimeOptionDOM.innerText = selectTimeDOM.innerText;
    defaultTimeOptionDOM.selected = true;
    defaultTimeOptionDOM.disabled = true;
    defaultTimeOptionDOM.value = "default";
    API.year.active()
      .then((event) => {
        console.log(event);
        const select = document.getElementById("time");
        select.innerHTML = "";
        select.appendChild(defaultTimeOptionDOM);
        for (var i = 0; i < event.ticket_groups.length; i++) {
          var opt = event.ticket_groups[i];
          var el = document.createElement("option");
          if (opt.freePositions <= 0) {
            el.textContent = `${opt.name} - 0 ${document.getElementById("freePositions").innerText}`;
            el.disabled = "disabled";
            el.value = "null";
          } else if (opt.freePositions == 1) {
            el.textContent = `${opt.name} - ${document.getElementById("freePosition").innerText}: ${opt.freePositions}`;
            el.value = opt._id;
          } else {
            el.textContent = `${opt.name} - ${document.getElementById("freePositions").innerText}: ${opt.freePositions}`;
            el.value = opt._id;
          }
          select.appendChild(el);
        }
        loadingDOM.style = "display: none;"
      })
      .catch((err) => {
        console.error(err)

        // When API backend is not available show error message
        loadingDOM.style = "display: none;";
        formDOM.style = "display: none;";
        contentDOM.style = "display: none;";
        serverOutOfServiceDOM.style = "display: initial;";
      });
  }

  window.addEventListener("load", function () {
    // DOM variables
    const contentDOM = document.getElementById("content");
    const serverOutOfServiceDOM = document.getElementById("serverOutOfService");
    const formDOM = document.getElementById("new-ticket-form");
    const loadingDOM = document.getElementById("loading");
    const errorMessageDOM = document.getElementById("error-message");
    const sentMessageDOM = document.getElementById("sent-message");
    const submitButtonDOM = document.getElementById("submit-button");
    const orderAnotherTicketButtonDOM = document.getElementById("order-another-ticket-button");
    const timeDOM = document.getElementById("time");
    const selectValidTimeDOM = document.getElementById("selectValidTime");

    writeEndOfReservationSentence();
    // Fetch times from API
    updateTimes();

    // buyer DOM variables
    const firstnameDOM = document.getElementById("firstname");
    const lastnameDOM = document.getElementById("lastname");
    const emailDOM = document.getElementById("email");

    let buyer = Cookies.get("buyer");
    if (buyer) {
      buyer = JSON.parse(buyer);
      // fill input fields
      emailDOM.value = buyer.email;
    }

    function sendData() {
      loadingDOM.style = "display: initial;";

      // POST API
      API.ticket.easy(
        firstnameDOM.value,
        lastnameDOM.value,
        emailDOM.value,
        timeDOM.value,
      ).then(async (response) => {
        console.log(response);
        loadingDOM.style = "display: none;";
        if (response.status != 200) {
          const errorText = await response.text();
          console.error(errorText);
          if (response.status == 400) {
            try {
              const errorTextInJSON = JSON.parse(errorText);
              let message = "";
              console.log(errorTextInJSON);
              switch (errorTextInJSON.message) {
                case 'Bad time.':
                  message = "Špatný čas.";
                  break;
                case "Not found time for new ticket.":
                  message = "Nebyl nalezen čas pro novou rezervaci.";
                  break;
                case "Cannot create new ticket! Time is full.":
                  message = "Nelze vytvořit rezervaci, vybraný čas je plný. Vyberte si prosím jiný.";
                  submitButtonDOM.style = "display: initial;";
                  break;
                case "End of reservations.":
                  message = "Nelze vytvořit objednávku, protože rezervaci jsou již uzavřeny.";
                  errorMessageDOM.innerHTML = message;
                  errorMessageDOM.style = "display: initial;";
                  return;
                  break;
              }
              errorMessageDOM.innerHTML += `<br/>${message}`;
              errorMessageDOM.style = "display: initial;";
              return;
            }
            catch (exception) {
              console.error(exception);
            }
          }
          errorMessageDOM.innerHTML += `<br/>${errorText}`;
          errorMessageDOM.style = "display: initial;";
        } else {
          const res = await response.text();
          // console.log(res);
          Cookies.set(
            "buyer",
            JSON.stringify({
              email: emailDOM.value
            }));
          firstnameDOM.value = "";
          lastnameDOM.value = "";
          updateTimes();
          sentMessageDOM.style = "display: initial;";
          orderAnotherTicketButtonDOM.style = "display: initial;";
          setTimeout(() => {
            sentMessageDOM.style = "display: hide;";
          }, 20000);
        }
      });
    }

    // Access the form element...
    const form = document.getElementById("new-ticket-form");

    // ...and take over its submit event.
    form.addEventListener("submit", function (event) {
      event.preventDefault();
      submitButtonDOM.style = "display: none;";
      errorMessageDOM.style = "display: none;";
      sentMessageDOM.style = "display: none;";

      if (timeDOM.value == 'default') {
        errorMessageDOM.innerHTML = selectValidTimeDOM.innerText;
        errorMessageDOM.style = "display: initial;";
        submitButtonDOM.style = "display: initial;";
        return;
      }

      sendData();
    });
  });
</script>
{{ end }}