{{ define "main" }}
<main id="main" class="main-page">
  <section id="tickets" class="section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>{{ .Title }}</h2>
        <p>{{ .Description }}</p>
      </div>
      {{ .Content }}
      <div class="form">
        <form action="#" method="post" role="form" id="new-ticket-form">
          <div class="row">
            <div class="form-group col-md-6 mt-2 mt-md-3">
              <input type="text" name="name" class="form-control" id="firstname" placeholder={{ i18n "firstname" }}
                required>
            </div>
            <div class="form-group col-md-6 mt-2 mt-md-3">
              <input type="text" name="name" class="form-control" id="lastname" placeholder={{ i18n "lastname" }}
                required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12 mt-2 mt-md-3">
              <input type="email" class="form-control" name="email" id="email" placeholder={{ i18n "yourEmail" }}
                required>
            </div>
          </div>
          <div class="row">
            <div class="form-group mt-2 mt-md-3">
              <select class="form-control" id="time" required>
                <option value="default" disabled selected>{{ i18n "selectTime" }}</option>
              </select>
              <span style="display: none;" id="freePositions">
                {{ i18n "freePositions" }}
              </span>
            </div>
          </div>
          <div class="row my-3">
            <div class="loading" id="loading">{{ i18n "loading" }}</div>
            <div class="error-message" id="error-message">{{ i18n "errorMessage" }}</div>
            <div class="sent-message" id="sent-message">{{ i18n "successOrderMessage" }}</div>
          </div>
          <div class="text-center">
            <button type="submit" id="submit-button">
              {{ i18n "order" }}
            </button>
            <button type="submit" id="order-another-ticket-button" style="display: none;">
              {{ i18n "orderAnotherTicket" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
<script>
  function updateTimes() {
    API.time.active().then((times) => {
      console.log(times);
      const select = document.getElementById("time");
      select.innerHTML = "<option value=\"default\" disabled selected>Vyberte čas</option>";
      for (var i = 0; i < times.length; i++) {
        var opt = times[i];
        var el = document.createElement("option");
        el.textContent = `${opt.name} - ${opt.freePositions} ${document.getElementById("freePositions").innerText}`;
        if (opt.freePositions == 0) {
          el.disabled = "disabled";
          el.value = "null";
        } else {
          el.value = opt.id;
        }
        select.appendChild(el);
      }
    });
  }

  window.addEventListener("load", function () {
    updateTimes();

    // buyer DOM variables
    const firstnameDOM = document.getElementById("firstname");
    const lastnameDOM = document.getElementById("lastname");
    const emailDOM = document.getElementById("email");

    let buyer = Cookies.get("buyer");
    if (buyer) {
      buyer = JSON.parse(buyer);
      // fill input fields
      firstnameDOM.value = buyer.firstname;
      lastnameDOM.value = buyer.lastname;
      emailDOM.value = buyer.email;
    }

    // DOM variables
    const loadingDOM = document.getElementById("loading");
    const errorMessageDOM = document.getElementById("error-message");
    const sentMessageDOM = document.getElementById("sent-message");
    const submitButtonDOM = document.getElementById("submit-button");
    const orderAnotherTicketButtonDOM = document.getElementById("order-another-ticket-button");
    const timeDOM = document.getElementById("time");

    function sendData() {
      loadingDOM.style = "display: initial;";

      // POST API
      API.ticket.easy(
        firstnameDOM.value,
        lastnameDOM.value,
        emailDOM.value,
        timeDOM.value,
      ).then(async (response) => {
        console.log(response);
        loadingDOM.style = "display: none;";
        if (response.status != 200) {
          const errorText = await response.text();
          console.error(errorText);
          errorMessageDOM.innerHTML += `<br/>${errorText}`;
          errorMessageDOM.style = "display: initial;";
        } else {
          Cookies.set(
            "buyer",
            JSON.stringify({
              firstname: firstnameDOM.value,
              lastname: lastnameDOM.value,
              email: emailDOM.value
            }));
          updateTimes();
          sentMessageDOM.style = "display: initial;";
          orderAnotherTicketButtonDOM.style = "display: initial;";
          setTimeout(() => {
            sentMessageDOM.style = "display: hide;";
          }, 10000);
        }
      });
    }

    // Access the form element...
    const form = document.getElementById("new-ticket-form");

    // ...and take over its submit event.
    form.addEventListener("submit", function (event) {
      event.preventDefault();
      submitButtonDOM.style = "display: none;";
      errorMessageDOM.style = "display: none;";
      sentMessageDOM.style = "display: none;";

      if (timeDOM.value == 'default') {
        errorMessageDOM.innerHTML = "Vyberte si platný čas";
        errorMessageDOM.style = "display: initial;";
        submitButtonDOM.style = "display: initial;";
        return;
      }

      sendData();
    });
  });
</script>
{{ end }}