<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    {{ partial "fontawesome.html" "arrow-up" }}
</a>

<!-- Vendor JS Files -->
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
{{ $script := resources.Get "js/main.js" | minify }}
<script src="{{ $script.RelPermalink }}"></script>

<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright
            <a href="//lukasmatuska.cz/" target="_blank">Lukáš Matuška</a>
            All Rights Reserved
        </div>
    </div>
</footer>