<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>
        {{- if .IsHome }}
        {{ .Site.Title }}
        {{- else }}
        {{ .Title }} &middot; {{ .Site.Title }}
        {{- end }}
    </title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    {{- if .IsHome }}
    <meta name="description" content="{{ i18n " homeDescription" }}">
    {{- else if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{- end }}

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:wght@300;400;500;700;800&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    {{/*
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> */}}
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    {{ $style := resources.Get "css/style.css" }}
    {{ $style = $style | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <!-- Template Main JS File -->
    {{ $script := resources.Get "js/api.js" | minify }}
    <script src="{{ $script.RelPermalink }}"></script>

    <!-- Template Main JS File -->
    {{ $script := resources.Get "js/js.cookie.js" | minify }}
    <script src="{{ $script.RelPermalink }}"></script>
</head>